.rating{
    text-align:left;
}

.datum{
    font-size:10px;
}

.title{
    font-weight:bold;
}
.fa-star {
    color: gold;
}

.fa-star-half-o {
    color: gold;
}

.fa-star-o {
    color: gold;
}

.commentText {
    padding: 10px 0px 10px 0px;
    width: 500px;
    word-wrap: break-word;
}

