.desription{
    padding:40px;
    font-size:16px;
    font-style:italic;
}

.atcContent{
    height:200px;
    text-align:center;
    align-items:center;
}

.atcOk {
    color: green;
    font-size: 100px;


    text-align: center;
}

#atcMsg {

    font-family: 'Century Gothic';
    font-size: 20px;
    font-weight:bold;
    text-align:center;


}

#msgButton {
    position: absolute;
    left: 50%;
    width: 200px;
    margin-left: -100px;
    bottom: 10px;
}

#atcSubmit {
    position: absolute;
    left: 10px;
    bottom: 10px;
}

#atcClose {
    position: absolute;
    right: 10px;
    bottom: 10px;
}

.atcButton {
    width: 200px;
}

.atcDropDown {
    width: auto;
    font-size: 20px;
    height:auto;
}

.atcLabel {
    width: 100px;
    font-size: 30px;
    text-align: center;
}

.cfRatingControls {
}

.cfTitleControls {
}

.cfTextControls {
    width: 100%;
}

.cfRatingDropDown {
}

.cfTitleTextBox {
}

.cfSubmit {
    width: 200px;
}

button {
    width: 200px;
}

textArea {
    min-width: 100%;
    height: 250px;
}